version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "5173:80"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - hf-cache:/root/.cache/huggingface
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]

volumes:
  hf-cache: