body {
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* Tweakpaneのテキストエリアのスタイル調整 */
.tp-dfwv textarea {
  word-break: break-all !important;
  white-space: pre-wrap !important;
}